@font-face {
    font-family: CCComicrazy;
    src: url(../fonts/CCComicrazy\ Regular.ttf);
}

@font-face {
    font-family: Lithos Pro;
    src: url(../fonts/Lithos\ Pro\ Black.ttf);
}
/* desktop first layout until functionality is at a 
near-complete state */

.top{ 
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: CCComicrazy, Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.topLogo {
    height: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

.topLeft {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Lithos Pro;
    font-size: calc(5px + 2vw);
    color: red;
    -webkit-text-stroke: .5px gold; 
    white-space: nowrap;
    /* digging the webkit text stroke, but will likely use erick's logo,
    will experiment later */
}

.topSocialIcon {
    font-size: 1.7em;
    margin-right: 8px;
    margin-left: 12px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.topCenter {
    flex: 6;
}
/* merge center items into hamburger for mobile
correct account and search icons accordingly */
.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.topList {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

.topListItem {
    margin-right: 4vw;
    margin-left: 1.5vw;
    font-size: 1.5vw;
    /* variable font size w vw, still needs work later for mobile */
    font-weight: 300;
    cursor: pointer;
}

.linkStyle {
    color: white;
    text-decoration: none;
}